package dropdown

import (
	"github.com/laenen-partners/dsx/ds"
	"github.com/laenen-partners/dsx/utils"
)

// DropdownSignals holds the reactive state for a dropdown.
type DropdownSignals struct {
	Open bool `json:"open"`
}

// Position controls the dropdown content direction.
type Position string

const (
	PositionDefault Position = ""
	PositionTop     Position = "dropdown-top"
	PositionBottom  Position = "dropdown-bottom"
	PositionLeft    Position = "dropdown-left"
	PositionRight   Position = "dropdown-right"
)

// Align controls the dropdown content horizontal alignment.
type Align string

const (
	AlignDefault Align = ""
	AlignCenter  Align = "dropdown-center"
	AlignEnd     Align = "dropdown-end"
)

// Props configures a dropdown.
type Props struct {
	ID         string
	Class      string
	Attributes templ.Attributes
	Position   Position
	Align      Align
	Hover      bool
}

templ Dropdown(props Props) {
	{{
		id := props.ID
		if id == "" {
			id = utils.RandomID()
		}
		signals := ds.NewSignals(id, DropdownSignals{Open: false})
	}}
	<div
		id={ id }
		data-signals={ signals.DataSignals }
		class={ utils.TwMerge("dropdown", string(props.Position), string(props.Align), utils.If(props.Hover, "dropdown-hover"), props.Class) }
		{ ds.Attr("open", signals.Signal("open"))... }
		{ ds.On("click__outside", signals.Set("open", "false"))... }
		{ props.Attributes... }
	>
		{ children... }
	</div>
}

// TriggerProps configures the dropdown trigger button.
type TriggerProps struct {
	DropdownID string
	Class      string
	Attributes templ.Attributes
}

templ Trigger(props TriggerProps) {
	{{ signals := ds.NewSignals(props.DropdownID, DropdownSignals{}) }}
	<div
		tabindex="0"
		role="button"
		aria-haspopup="true"
		data-attr:aria-expanded={ signals.Signal("open") }
		class={ utils.TwMerge("btn", props.Class) }
		{ ds.On("click", signals.Toggle("open"))... }
		{ props.Attributes... }
	>
		{ children... }
	</div>
}

// ContentProps configures the dropdown content panel.
type ContentProps struct {
	DropdownID string
	Class      string
	Attributes templ.Attributes
}

templ Content(props ContentProps) {
	{{ signals := ds.NewSignals(props.DropdownID, DropdownSignals{}) }}
	<ul
		tabindex="-1"
		class={ utils.TwMerge("dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-lg border border-base-200", props.Class) }
		{ ds.OnClick(signals.Set("open", "false"))... }
		{ props.Attributes... }
	>
		{ children... }
	</ul>
}
