package layouts

templ showcaseHead() {
	<link rel="stylesheet" href="/assets/css/output.css"/>
	<script type="module" src="/assets/js/datastar.js"></script>
	<script src="/assets/js/watch-worker.js"></script>
}
